CONVEX_DEPLOYMENT=
VITE_CONVEX_URL=
CONVEX_DEPLOY_KEY=

APIFY_API_TOKEN=
GEMINI_API_KEY=

MERCADO_PAGO_ACCESS_TOKEN=
MP_CLIENT_SECRET=
MP_REDIRECT_URI=
VITE_MERCADO_PAGO_PUBLIC_KEY=

LANGCHAIN_TRACING_V2=
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=
